fileserver/certs/*
fileserver/crl/*
fileserver/csr/*
fileserver/newcerts/*
fileserver/private/*

indexserver/certs/*
indexserver/crl/*
indexserver/csr/*
indexserver/newcerts/*
indexserver/private/*

root/certs/*
root/crl/*
root/csr/*
root/newcerts/*
root/private/*
root/index
root/index.attr
root/index.old
root/serial
root/serial.old

sub/certs/*
sub/crl/*
sub/csr/*
sub/newcerts/*
sub/private/*
sub/index
sub/index.attr
sub/index.attr.old
sub/index.old
sub/serial
sub/serial.old

client/certs/*
client/crl/*
client/csr/*
client/newcerts/*
client/private/*

